<div class="col-md-12">
    <%= form_for todo, :remote => true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.check_box :done, :label => todo.done, :onchange => 'this.form.submit()', :checked_value => true, :unchecked_value => false %>
    <% end %>
    <span><%= todo.content %> - <%= todo.created_at.strftime("%b %e, %l:%M %p") %>i | </span>
    <%= link_to "Delete", todo, method: :delete, data: { confirm: "You sure?" } %>
    <hr></hr>
</div>
