<h1 class="text-center">TODO</h1>
<div class="row">
  <% if current_user %>
    Hello, <strong><%= current_user.name %></strong>
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<% if current_user %>
  <%= render 'todo_form' %>
  <div class="row">
    <!-- List of tasks -->
    <% if @todo_items.any? %>
      <%= render @todo_items %>
    <% end %>
  </div>
<% end %>
