<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
  <meta property="og:description" content="<%= og_description(yield(:description)) %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Facebook JS SDK -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '794630217239782',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

  <div class='container'>
    <h1 class="text-center">To-do List</h1>
    <div id="login-row" class="row">
      <% if current_user %>
        Hello, <strong><%= current_user.name %></strong>
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>
    <%= yield %>
  <div>

</body>
</html>
